

@font-face {
	font-family: "Raleway-black";
	src: url('/fonts/raleway-black-webfont.ttf');
}

@font-face {
	font-family: "Raleway-bold";
	src: url('/fonts/raleway-bold-webfont.ttf');
}

@font-face {
	font-family: "Pacifico";
	src: url('/fonts/pacifico-webfont.ttf');

}


$zmienna : rgb(173, 230, 117);
$font: 'Raleway',sans-serif;
$zmienna1: rgb(35, 163, 14);
$zmienna2: rgb(190, 130, 82);






/* komentarz*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 16px;
	font: inherit;
	vertical-align: baseline;
  box-sizing: border-box;
}

body {
    background:rgb(255, 255, 255);
    height: 100vh;
}

h1 {
  color: $zmienna1;
}

.logo {
  font-family: 'Pacifico',cursive;
  font-size: 300%;
  margin: 25px 0;
  font-weight: 400;
  float: left;
  color: #262626;
}

#navigation-bar {
  height: 147px;
  border: 1px solid red;
a {
	color: rgb(5, 5, 5);
	font-family: $font;
	font-weight: bold;
	padding:9px;
	///padding-top: 3px;
}
a:hover {
	border-top: 3px solid #ff6033;
	text-decoration: none;
}
}

.menu {
	display: inline-flex;
}

.container {
  width: 100vw;
  border: 1px solid red;
  background: rgbq(189, 19, 128, 0.2)
}
#home {
  background-image: url('/img/home.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right;
  height: 1000px;
  margin: 0 auto;
  border: 1px solid green;
p {
	font-family: "Raleway-black";
	font-size: 350%;
}
}

#about {
  background: #00bbbb;
	//	background-image: url('/img/strawberry.png');
	//background-repeat: no-repeat;
  height: 700px;
}

#services {
  background: #70bfff;
  height: 790px;
}

#gallery {
  background: #ffe92f;
  height: 1536px;
}

#subscribe {
  background: #ffffff;
  height: 500px;
}

#blog {
  background: #b07cf7;
  height: 863px;
}

#contact {
  background: #7cf781;
  height: 866px;
}

footer {
  height: 90px;
  background: #262626;
}

ul li {
	display: inline-flex;
	flex-flow: row wrap;
	align-items: flex-end;
	//float:right;
	margin-top: 65px;
	color: $zmienna1;
	padding-right: 2%;
	font-family: "Raleway-bold";
	color: #262626;
}
/*
ul li {
  color: $zmienna1;
  text-decoration: none;
  display: inline;
  float: right;
  padding: 2%;
	margin-top: 65px;
}
*/
