

@font-face {
	font-family: "Raleway-black";
	src: url('../fonts/raleway-black-webfont.woff');
}

@font-face {
	font-family: "Raleway-bold";
	src: url('../fonts/raleway-bold-webfont.woff');
}

@font-face {
	font-family: "Raleway-light";
	src: url('../fonts/raleway-light-webfont.woff');

}

@font-face {
	font-family: "Pacifico";
	src: url('../fonts/pacifico-webfont.woff');

}




$zmienna : rgb(173, 230, 117);
$font: 'Raleway',sans-serif;
$zmienna1: rgb(35, 163, 14);
$zmienna2: rgb(190, 130, 82);






/* komentarz*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 16px;
	font: inherit;
	vertical-align: baseline;
  box-sizing: border-box;
}

body {
    background:rgb(255, 255, 255);
    height: 100vh;
		width:100%;
		//padding-top: 70px;
}
html, body {
   max-width: 100%;
   overflow-x: hidden;
	 height:auto!important;

}

h2 {
	font-size: 3em;
}
.navbar-toggle {
    position:relative;
    float:right;
    padding:10px 10px;
    margin-top:15px;
    margin-right:15px;
    margin-bottom:8px;
    background-color:transparent;
    background-image:none;
  	border-radius:4px;
	border:transparent;
}

.icon-bar {
    display:block;
    width:30px;
    height:1px;
		background-color: rgb(29, 29, 27);
    border-radius:5px;
		border:1px solid #ffffff;
		padding: 2px;
		//color:rgb(46, 47, 47);

}

h1 {
  color: $zmienna1;
}

.logo {
	display: block;
	//padding-right: 400px;
  font-family: 'Pacifico',cursive;
  font-size: 300%;
  margin-top: 25px;
	margin-left: 7vw;
  font-weight: 400;
  float: left;
  color: #262626;
}

.navbar {
	display:none;
	position: fixed;
	margin: 0 auto;
	text-align: center;
	z-index: 500;
}

#navigation-bar 	 {
  height: 147px;
	width: 100vw;
  border: 1px solid red;
	background-color: #f9f8fb;
	position: fixed;
	margin: 0 auto;
	text-align: center;
	z-index: 500;
	//display: inline-block;
	//list-style-type: none;

a {
	color: rgb(5, 5, 5);
	font-family: $font;
	font-weight: bold;
	padding:9px;
	cursor: pointer;

	///padding-top: 3px;
}
a:hover {
	border-top: 3px solid #ff6033;
	text-decoration: none;
}
}

.menu {
	display: inline;
	float: right;
	margin-right: 7vw;
}

.container {
  width: 100vw;
  border: 1px solid red;
  //background: rgb(189, 19, 128);
}

#home {
  background-image: url('../img/home.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right;
  height: 100vh;
  margin: 0 auto;
  border: 1px solid green;
h2 {
	font-family: "Raleway-black";
	font-size: 4em;
	margin-top: 180px;
}
p {
	margin: 20px 0 20px 0;
}
}
.btn {
	display: inline-block;
	height: 40px;
	width: 160px;
	background-color: rgb(235, 108, 4);
	padding: 6px 12px;
	color: white;
	font-size: 17px;
	font-family: "Raleway-light";
	vertical-align: middle;
	box-shadow: 0 2px 5px 0 #000000;
}
.scroll-image {
	display: block;
	position: absolute;
	top: 90%;
	left: 50%;
	width: 40px;
	height: 70px;

}

#about {
  background: #00bbbb;
	background-image: url('../img/strawberry.png');
	background-repeat: no-repeat;
	background-position: 25% 25%;
  height: 700px;
}

.about-content{
	//display: flex;
	color: rgb(255, 255, 255);
	margin-top: 11.250em;
h2 {
		display: block;
		font-size: 4em;
		font-family: "Raleway-bold";
	 }
p 	{
	//margin: 20px 0;
	}
}

#services {
  background: #70bfff;
  height: 100vh;
	background-image: url('../img/services.png');
	background-repeat: no-repeat;
	background-position: 75% 25%;
	h2 {
		margin-top: 48%;
		margin-left: 30%;
		font-size: 4em;
		font-family: "Raleway-bold";
		color: rgb(255, 255, 255);
		//float:right;
		//width: 60%;
		//display: block;
	}
}



.services-button-all {
	width: 450px;
	padding-top: 11.25rem;
	padding-left: 7.1875rem;
	margin-bottom: 9.375rem;
}
.services-button:before {
	font-family: fontAwesome;
  content: "\f067\00a0";
}
.services-button {
	width: 25rem;
	height: 6.25rem;
	background-color: rgb(255, 255, 255);
	display: block;
	margin-bottom: 1.25rem;
	font-family: "Raleway-bold";
	font-size: 20px;
}

#gallery {
  background: #ffe92f;
  //height: 1536px;
	text-align: center;
h2 {
	color: rgb(16, 17, 16);
	font-family: "Raleway-bold";
	font-size: 4em;
	}
p {
	margin: 20px 0 20px 0;

	}
}
.gallery-row{
	width:64vw;
	margin: 0 auto;
}

#gallery-hide{
	display: none;
	margin: 0 auto;
}

.peach{
	height: 100%;
	width:100%;
	padding: 0;
}
.berries {
	//margin-right: 480px;
	height:49%;
}
.another_berries {
	height:49%;
}
#gallery-button{
	padding-top: 51px;
	padding-bottom: 120px;
}
.gallery-btn {
	background-color: #5585a2;
}
/*
.gallery-images {
img {
	padding: 50px;
	//height: 100%;
	//width: 100%;
}
img{
  -webkit-transition: all 0.5s linear;
          transition: all 0.5s linear;
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
}
img:hover {
  width: 110%;
}

img:hover img{
  -webkit-transform: scale3d(1.5, 1.5, 2);
          transform: scale3d(1.5, 1.5, 1);
}
}
*/
#subscribe {
  background: #ffffff;
  height: 500px;
}

#blog {
  background: #b07cf7;
  height: 863px;
}

#contact img {
    width:  100vw;
}
#contact {
  //background: #7cf781;
  height: 866px;
	background-position: center;
}

footer {
  height: 90px;
  background: #262626;
}

ul li {
	display: inline-flex;
	flex-flow: row wrap;
	align-items: flex-end;
	//float:right;
	margin-top: 55px;
	color: $zmienna1;
	padding-right: 2%;
	font-family: "Raleway-bold";
	color: #262626;
}
.col-centered {
	float:none;
	margin: 0 auto;
	margin-top: 100px;
}
/*
.col-md-4 .col-sm-7 .col-xs-12 {
	margin-top: 100px;
}
/*
ul li {
  color: $zmienna1;
  text-decoration: none;
  display: inline;
  float: right;
  padding: 2%;
	margin-top: 65px;
}
*/

@media screen and (max-width: 768px) {
  .navbar {
		display: block;
		//background-color: #f9f8fb;
		background-color: rgba(249,258,241,0.8);

	a {
		margin: 0 auto;
		color: rgb(5, 5, 5);
		font-family: $font;
		font-weight: bold;
		padding:9px;
		cursor: pointer;
		///padding-top: 3px;
	}
	a:hover {
		border-top: 3px solid #ff6033;
		border-height: 80vw;
		text-decoration: none;
		display: inline-block;
		width: 80%;
		text-align: center;
		transition-duration: 0.5s;
		transition-timing-function: ease-in-out;
		background-color: transparent !important;
	}
	}
	#navigation-bar {
		display: none;
	}
	.gallery-images {
	img {
		width: 80vw;
	}
	}

	.gallery-row {
	    width: auto;
	    margin: 0 auto;
	}
	.services-row {
		width: auto;
		margin: 0 auto;
	}
	.services-button-all {
		width: auto;
		margin: 0 auto;
		padding-top: 5rem;
		padding-left: 0rem;
		margin-bottom: 4rem;
	}

	.services-button {
    width: 20rem;
    height: 4.25rem;
    background-color: white;
    display: block;
    margin-bottom: 1.25rem;
    font-family: "Raleway-bold";
    font-size: 20px;
}

	#services  {
		h2{
			margin-top: 10%;
			margin-left: 0	;
			font-size: 3em;
			text-align: center;
			font-family: "Raleway-bold";
			color: rgb(255, 255, 255);
		}
	}
}
